{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox-gateway.service-canvi.com.br:8080"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/bt/token":{
      "post": {
        "description": "Gerar token",
        "requestBody": {
          "description": "Endpoint de gerar token",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/credencial_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Token resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credencial_response"
                }
              }
            }
          },
          "400": {
            "description": "Erro de gerar token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "credencial_request":{
        "type": "object",
        "properties":{
          "client_id": {
            "type": "string",
            "example": "10A52FF6ECEFAF"
          },
          "private_key": {
            "type": "string",
            "example": "101A9DF6ECE10A52FF90C2FAF3B1077A3F7260F9FF6101A9DF"
          }
        }
      },
      "credencial_response":{
        "type": "object",
        "properties":{
          "code": {
            "type": "integer",
            "example": 200
          },
          "mensagem": {
            "type": "string",
            "example": "Logado com sucesso!"
          },
          "token": {
            "type": "string",
            "example": "1234555566616161616161616171875187158715"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}